#page {
  background-color: #f0f8ff;
}

.hl1 {
  background-color: #EEDEEE;
}

.hl2 {
  background-color: #EEDEEE;
}

.hl3 {
  background-color: #BBFA45;
}

.hl4 {
  background-color: #BBFA45;
}

.pink {
  background-color: rgb(233, 5, 150,0.2);
}