body {
  background-color: #f0f8ff;
}

blockquote {
  font-size: 1em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.green {
  background-color: rgb(57, 255, 20, 0.3);
}

.pink {
  background-color: rgb(233, 5, 150,0.2);
}

.purple {
  background-color: rgb(176, 38, 255,0.3);
}

.blue {
  background-color: rgb(13, 213, 252, 0.3);
}

.yellow {
  background-color: rgb(251, 247, 25, 0.5);
}

.orange {
  background-color: rgb(255, 90, 40, 0.4);
}