body {
  background-color: #f0f8ff;
}

.hl1 {
  background-color: #EEDEEE;
}

.hl2 {
  background-color: #EEDEEE;
}

.hl3 {
  background-color: #BBFA45;
}

.hl4 {
  background-color: #BBFA45;
}

.pink {
  background-color: rgb(233, 5, 150,0.2);
}

.purple {
  background-color: rgb(176, 38, 255,0.3);
}

.blue {
  background-color: rgb(13, 213, 252, 0.3);
}

.yellow {
  background-color: rgb(251, 247, 25, 0.5);
}